[tools]
{{- $inContainer := or (env "REMOTE_CONTAINERS") (env "DEVCONTAINER") (env "CODESPACES") (stat "/.dockerenv") (stat "/run/.containerenv") }}
{{- if not $inContainer }}
"npm:@devcontainers/cli" = "latest"

rust = "1.96.0"
"cargo:https://github.com/maladus/dev" = { version = "rev:e71233731d7c9ea41ec369903d4fb71f290d7c15", bin = "dev", crate = "devcontainer" }
{{- end }}
