[tools]
chezmoi = "2.70.3"
node = "lts"
neovim = "stable"
ripgrep = "latest"
fd = "latest"
tmux = "latest"
"asdf:gh" = "latest"
age = "latest"
lazygit = "latest"
zoxide = "latest"
"npm:@earendil-works/pi-coding-agent" = "latest"
"github:rtk-ai/rtk" = "latest"
